/* Pretty much shamelessly adapted from the Flask site's layout */
#container {
	width: 640px;
	margin: 40px auto;
	font-family: 'Garamond', 'Georgia', 'serif';
}

#vm-container {
	width: 100%;
	clear: both;
}

#vm-index-left, #vm-index-right {
	width: 300px;
}

#vm-index-left {
	float: left;
}

#vm-index-right {
	float: right;
}

#footer {
	margin: 25px auto;
	text-align: center;
	font-size: 0.6em;
}

#vm-container .vm {
	margin: 10px;
}

#vm-details .vm-image {
	width: 320px;
	float: left;
}

#vm-details .vm-data {
	width: 300px;
	float: right;
}

#vm-details .machine-title {
	font-size: 1.5em;
	font-weight: bold;
}

#vm-details .machine-system {
	font-size: 1em;
	font-style: italic;
}

.vm img {
	border: 1px solid #000;
}

#navigation {
	margin: 20px;
	text-align: center;
}
