{% extends "base.tmpl" %}

{% block content %}
<div id="vm-container">
{% for column in machines|slice(2) %}
{% if loop.index == 1 %}
<div id="vm-index-left">
{% else %}
<div id="vm-index-right">
{% endif %}
	{% for key in column %}
	<div class="vm">
		{% set machine = machines.get(key) %}
		<div class="vm-image">
			<a href="{{ url_for('details', vmname=machine.image_name) }}">
			{% if machine.screenshot_filename %}
                        {% set filename = machine.screenshot_filename|small %}
			<img src="{{ url_for('static', filename='screenshots/' + filename) }}"
				alt="Screenshot of {{ machine.image_name }}" width="250" />
			{% else %}
			<img src="{{ url_for('static', filename='no_screenshot.png') }}"
				alt="No screenshot available for {{ machine.image_name }}" width="250" />
			{% endif %}
			</a>
		</div>
		<div class="vm-data">
			<a href="{{ url_for('details', vmname=machine.image_name) }}"><strong>{{ machine.image_name }}</strong></a><br />
			Running {{ machine.system_name }}<br />
			{{ machine.infections|length }} infections
		</div>
	</div>
	{% endfor %}
</div>
{% endfor %}
<div style="clear: both;"></div>
</div>

<div id="timestamps">
<p id="create_time">
{% if timestamps.create_time == timestamps.start_time %}
No new virtual machines have been spawned yet.
{% else %}
The last virtual machine was created on {{ timestamps.create_time|gen_time }}
{% endif %}
</p>

<p id="destroy_time">
{% if timestamps.destroy_time == timestamps.start_time %}
No virtual machines have been destroyed yet.
{% else %}
The last virtual machine destruction was on {{ timestamps.destroy_time|gen_time }}
{% endif %}
</p>

<p id="reset_time">
{% if timestamps.reset_time == timestamps.start_time %}
No machines have been reset yet.
{% else %}
The last machine reset was on {{ timestamps.reset_time|gen_time }}
{% endif %}
</p>
</div>
{% endblock %}
